
<form method = 'post' action = '/numbers'>
	<%= user_name%> choose the calculation you would like to make.<br>
	<input type = 'integer' name = 'num1'>
	<select name = "operator">
		<option value = "add">add</option>
		<option value = "subtract">Subtract</option>
		<option value = "multiply">Multiply</option>
		<option value = "divide">Divide</option>
	</select>
	<input type = 'integer' name = 'num2'><br>
 	<input type="submit" value="submit">
</form>
